.InfoBlock {
  display: flex;
  margin: 40px 20px;
  color: #666;
  position: relative;
  .infoBar{
    display: flex;
  }
  .bus {
    right: 0;
    position: absolute;
    .driveTime {
      font-weight: bold;
    }
  }
}