.FooterBlock {
  color: #666;
  display: flex;
  margin: 15px 15px;
  position: relative;
  background-color: #c4c4c4;
    .infoBar{
      display: flex;
    }
    .setEnd {
      left: 50%;
      bottom: 10%;
      position: absolute;
      transform: translateX(-50%);
    }
  }