.FooterBlock {
  color: #666;
  display: flex;
  padding: 40px 0;
  position: relative;
  background-color: #c4c4c4;
  .container {
    display: flex;
    img {
      margin-right: 10px;
      width: 100px;
      opacity: 0.5;
    }
    .infoBar {
      display: flex;
      .item {
        width: 100px;
        height: 80px;
      }
    }
    .setEnd {
      left: 50%;
      bottom: 10%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}
