.HeaderBlock {
  display: flex;
  margin: 15px 15px;
  position: relative;
  align-items: center;
  .logo {
    display: flex;
    color: #999;
  }
  .searchBar {
    right: 0;
    position: absolute;
    .search {
      width: 200px;
      height: 33px;
    }
    .magnifier {
      width: 30px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-10%, -50%);
    }
  }
}