.HeaderBlock {
  display: flex;
  margin: 15px 15px;
  position: relative;
  align-items: center;
  .logo {
    display: flex;
    color: #999;
  }
  .searchBar {
    position: absolute;
    right: 0;
  }
}