.NewsBlock {
  display: flex;
  .News {
    list-style: none;
    text-align: center;
    .li {
      width: 189px;
      height: 48px;
    }
  }
  .article {
    width: 550px;
    height: 300px;
    margin-top: 20px;
    background-color: #eee;
  }
}
